browserstack-local
jsonmerge
multiprocess
playwright
pytest-playwright
psutil
pytest==9.0.3
pytest-variables
pytest-xdist
pytest-base-url
python-dotenv
browserstack-sdk @ https://sdk-assets.browserstack.com/python/browserstack_sdk-latest.tar.gz
